default: &default
  adapter: mysql2
  encoding: utf8
  username: root
  password:
  socket: /tmp/mysql.sock


development:
  <<: *default
  database: sito_system_development

test:
  <<: *default
  database: sito_system_test

production:
  <<: *default
  database: sito_system_production