default: &default
  adapter: mysql2
  encoding: utf8
  username: root
  password:
  socket: /tmp/mysql.sock


development:
  <<: *default
  database: daily_report_development

test:
  <<: *default
  database: daily_report_test

production:
  <<: *default
  database: daily_report_production